
@{
    ViewBag.Title = "Delete";
}


<body style="background-color:white">
    <h2 class="CrudTitle" style="color:red">Delete Entire Auction</h2>
    <p>
        <span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span>
    </p>

    <h1 style="color:red">Are you sure you want to delete the entire Auction?</h1>
    <img src="~/Images/Caution.PNG" alt="Mountain View" style="width:304px;height:228px; margin:30px">

    @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">

        <input type="submit" style= "font-size: 3em; color: lawngreen; text-shadow: 2px 2px black " value="Cancel" onclick="location.href='@Url.Action("Index", "forms")';return false;" class="btn btn-default" />
    </div>

    <h3 style="color:red">Delete will remove all data from the auction, please be sure to have all necessary reports printed before selecting the delete button!!!</h3>

    <span class="btn btn-default"> @Html.ActionLink("Back to Reports List", "Index", "Reports")</span>
          <div class="form-actions no-color" >
                <input type="submit" value="Delete" class="btn btn-default" style="margin: 50px; color: red "/>
                </div>
    
        }
    
</body>
