
h1{font-size:2.55em; }
h2{font-size:2.15em; }
h3{font-size:1.72em; }
h4{font-size:1.3em; }
h5{font-size:1em; }
h6{ font-size:0.85em;}

/*td{border:1px solid black;}*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:rgb(0, 100, 150); 
    text-align:center;
   }

#BackgroundGrad1 {
    
    background: -webkit-linear-gradient(130deg,lightblue, rgb(0, 100, 150)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(130deg,lightblue, rgb(0, 100, 150)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(130deg,lightblue, rgb(0, 100, 150)); /* For Firefox 3.6 to 15 */
    background:linear-gradient(130deg,lightblue, rgb(0, 100, 150)); /* Standard syntax (must be last) */
}
#BackgroundGrad2 {
    
    background: -webkit-radial-gradient(rgb(0, 100, 150),lightblue); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(0, 100, 150),lightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(rgb(0, 100, 150),lightblue); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(0, 100, 150) 40%,lightblue); /* Standard syntax (must be last) */
}

#Date
{
    margin-right:30px;
    text-align:right; 
    color:lightblue; 
    margin-top:10px;
}
#IndexTable
{
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}

#logo
{
   
    border-radius: 15px; 
    border-style: solid; 
    border-color:lightblue; 
    border-width:5px;
}
#LogoCell
{
    padding-left: 20px;
    padding-right: 20px;
}
#Location
{
    color:lightblue;
    /*color:rgb(0,150,200);*/
    font-style:italic;
}
#ListButton
{
    margin-top:5px;
    margin-bottom:5px;
    margin-left:30px;
    margin-right:30px;
    border-radius: 5px; 
    background-color:lightblue;
    text-align:center;
    padding:10px;
    color:rgb(2,78,127);
}
#Label1
{
    margin-left:30px;
    text-align:left; 
    color:lightblue; 
    margin-top:10px;

}

#title
{
    color:goldenrod;
    font-family:'Berlin Sans FB';
}
#Theme
{
    color:goldenrod; 
    font-style:italic;
}
.TableDataIndex1
{
    padding:50px;
    text-align:center;
}
.TableDataIndex2
{
    padding:10px;
    text-align:center;
}
 #Times
 {
     font-style:normal;
     color:lightblue; 
 }
 #Tickets
 {
     color:lightblue;
 }
.AuctionFooter
{
    text-align:center; 
    color:lightblue; 
    margin-top:50px;

}


 
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
