@{
    ViewBag.Title = "Index";
}
<body id="BackgroundGrad1">
    <h3>General Help</h3>
    <p>During the auction you will sign in as an Administrator. 
        All of your work will be conducted in the Administrative Panel. 
        This is located on the top in the navigation section. You will see a drop down menu.
        This menu has three options: Auction Forms, Auction Reports and Auction Help.
        <table id="IndexTable">
            <tr>
                <td id="LogoCell">
                    <img src="~/Images/admindrop.png" alt="admin" Logo here" width="350" height="146">            @*displays picture*@
                </td>
            <tr>
</table>
<p>Remember the back to forms List button is your go to button for all auction related work!</p>
    <p>
        <span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span>
    </p>

    <h3>Bidder</h3>
    <p>
        <h4>How do I add a bidder to the auction?</h4>
        <h4>How do I edit a bidder to the auction?</h4>
    </p>

    <h3>Auction Item</h3>
    <p>
        <h4>How do I add an item to the auction?</h4>
        <h4>How do I edit an item to the auction?</h4>
        <h4>How do I add a multiple bidder item to the auction?</h4>
        <h4>How do I edit a multiple bidder item to the auction?</h4>
    </p>


    <h3>Winning Bidder</h3>
    <p>
        <h4>How do I load winning bids for silent and live auctions?</h4>
    </p>

    <h3>Donor</h3>
    <p>
        <h4>How do I add a donor to the auction</h4>
    </p>

    <h3>Auction Information</h3>
    <p>
        <h4>How do I edit the auction details?</h4>
        <h4>How do I edit the contact details?</h4>

    </p>
    <h3>Printing Reports</h3>
    <p>
        <h4>How do I print reports from the auction?</h4>
        <h4>How do I edit the contact details?</h4>
    </p>
   

</body>