@{
    ViewBag.Title = "Index";
}
<body id="BackgroundGrad1">
    <h2>Help</h2>
    
    <p>
        <span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span>
    </p>

</body>