@{
    ViewBag.Title = "Index";
}
<body id="BackgroundHelp" >
    <h1 class="CrudTitle">Auction Help</h1>
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Auction Basics</td>
        </tr>
        <tr>
            <td style="font-weight:bold; color: red;">
                Log in as an Administrator.
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>

        <tr>
            <td>
                Then click on Administration and a drop down menu will appear:
            </td>
        </tr>

        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td> Auction Forms</td>
        </tr>
        <tr>
            <td> Auction Reports</td>
        </tr>
        <tr>
            <td> Auction Help</td>
        </tr>


        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/admindrop.png" alt="admin" logo here" width="500" height="300">            @*displays picture*@
            </td>
        <tr>
    </table>

    @*<hr style="border-style: inset; border-width: 1px ; margin-left: auto; margin-right: auto; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);"
    />*@

    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);"/>

    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Main Auction Form</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td> Auction Forms page will be your main page for all of your auction related events! </td>
        </tr>

        <tr>
            <td id="LogoCell">
                <img src="~/Images/auctionform.png" alt="form" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
    </table>
    @*<hr style="border-style: inset; border-width: 1px ; margin-left: auto; margin-right: auto;" />*@
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Back to Forms List Button</td>
        </tr>
        <tr>
            <td style="color:red; font-weight:bold;"><em>Remember the back to forms List button is your go to button for all auction related work!</em></td>

        <tr>
            <td><span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span></td>
        </tr>
        <tr>
            <td></td>
        </tr>

    </table>

    @*<hr style="border-style: inset; border-width: 1px ; margin-left: auto; margin-right: auto;" />*@
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Add/Edit Bidder</td>
        </tr>
        <tr>
            <td>How do I add a bidder to the auction?</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/addbidder.png" alt="addbidder" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>How do I edit a bidder to the auction?</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/editbidder.png" alt="editbidder" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
    </table>
    @*<hr style="border-style: inset; border-width: 1px ; margin-left: auto; margin-right: auto;" />*@
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Add/Edit Auction Item</td>
        </tr>
        <tr>
            <td>How do I add an item to the auction?</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/additem.png" alt="additem" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>How do I edit an item to the auction?</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/edititem.png" alt="edititem" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>How do I add an extra auction item to the auction?</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/extra.png" alt="edititem" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>

    </table>
    @*<hr style="border-style: inset; border-width: 1px ; margin-left: auto; margin-right: auto;" />*@
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Add Winning Bids</td>
        </tr>
        <tr>
            <td>How do I load winning bids for silent and live auctions?</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/silentbids.png" alt="silentbids" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/livebids.png" alt="livebids" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
    </table>
    @*<hr style="border-style: inset; border-width: 1px ; margin-left: auto; margin-right: auto;" />*@
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Donors</td>
        </tr>
        <tr>
            <td>How do I add a donor to the auction</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/donor1.png" alt="donor" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
    </table>
    @*<hr style="border-style: inset; border-width: 1px ; margin-left: auto; margin-right: auto;" />*@
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Auction Information</td>
        </tr>
        <tr>
            <td>How do I edit the auction details?</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/details.png" alt="details" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>How do I edit the contact details?</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/contact.png" alt="contact" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>How do I edit the ticket sales?</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/ticket.png" alt="tickets" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
    </table>

    @*<hr style="border-style: inset; border-width: 1px ; margin-left: auto; margin-right: auto;" />*@
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Printing Reports</td>
        </tr>
        <tr>
            <td>How do I print reports from the auction?</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/report.png" alt="reportss" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        
    </table>

</body>
