@{
    ViewBag.Title = "Index";
}
<body id="BackgroundHelp">
    <h1 class="CrudTitle">Auction Help</h1>
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Auction Basics</td>
        </tr>
        <tr>
            <td style="font-weight:bold; color: red;">
                Log in as an Administrator.
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>

        <tr>
            <td>
                Then click on Administration and a drop down menu will appear:
            </td>
        </tr>

        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td> Auction Forms: This is your main event screen. You can add, edit, and delete bidders, items, donors, update details and contact information</td>
        </tr>
        <tr>
            <td> Auction Reports: This your screen where you can run reports for bidders, items, and donors. Here you can print and save reports for your records</td>
        </tr>
        <tr>
            <td> Auction Help: If you have questions please come here!</td>
        </tr>


        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/admindrop.png" alt="admin" logo here" width="500" height="300">            @*displays picture*@
            </td>
        <tr>
    </table>



    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />

    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Main Auction Form</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Auction Forms page will be your main page for all of your auction related events! </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td style="font-weight:bold; font-size:large;">Auction Form Definitions</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Bidder: Auction participant who will use their assigned Bidder Number to bid on auction items. This may be an individual, couple or family.</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Auction Item: Items or services that will be available to be bid on both the live auction, or the silent auction.</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Extra Auction Item: An item such as a raffle, cash donation or dessert dash that all bidders have an opportunity to give towards.</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Donor: Person, family or business that has donated items or services to be Auctioned off.</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Load Winning Bids: Enter the winning bid amounts after a particular auction has closed.</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Auction Info: Update the auction details shown on the Auction Home page. Update the Contact information shown at the bottom of certain page. Update information pertaining to ticket sales, for use in Auction Reports.</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/auctionform1.png" alt="form" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
    </table>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Back to Forms List Button</td>
        </tr>
        <tr>
            <td style="color:red; font-weight:bold;"><em>Remember the back to forms List button is your go to button for all auction related work!</em></td>

        <tr>
            <td><span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span></td>
        </tr>
        <tr>
            <td></td>
        </tr>

    </table>

    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Add/Edit Bidder</td>
        </tr>
        <tr>
            <td>How do I add a bidder to the auction?</td>
        </tr>
        <tr>
            <td>On the Auction Form Page click on Add Bidder</td>.
        </tr>
        <tr><td>1. Enter the Bidder Information</td></tr>
        <tr><td>2. Click Add</td>

        <tr>
            <td id="LogoCell">
                <img src="~/Images/addbidder.png" alt="addbidder" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>After Adding a new bidder will see the Bidder Information and Bidder Number.</td>
            <td></td>
        </tr>
        <tr></tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/newbidder1.png" alt="addbidder" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>How do I edit/delete a bidder in the auction?</td>
        </tr>
        <tr>
            <td>On the Auction Form Page click on Edit Bidder</td>.
        </tr>
        <tr><td>1. Enter the revised Bidder Information</td></tr>
        <tr><td>2. Click Save or Cancel</td>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/editbidder.png" alt="editbidder" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
    </table>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Add/Edit Auction Item</td>
        </tr>
        <tr>
            <td>How do I add an item to the auction?</td>
        </tr>
        <tr>
            <td>On the Auction Form Page click on Auction Item Add </td>.
        </tr>
        <tr><td>1. Enter the Auction Item Information</td></tr>
        @*<tr><td>2. Do not add an image yet.  </td></tr>*@
        <tr>
            <td>3. Click Add</td>
            @*<tr><td>4. After adding the auction item click Edit</td>
                <tr><td>3. Then go to choose file and add your image.</td>
                <tr><td>3. Then click save, the image will appear on the item page.</td>*@


        <tr>
            <td id="LogoCell">
                <img src="~/Images/additem.png" alt="additem" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>How do I edit/delete an item in the auction?</td>
        </tr>
        <tr>
            <td>On the Auction Form Page click on Auction Item Edit </td>.
        </tr>
        <tr><td>1. Enter the revised Auction Item Information</td></tr>
        <tr><td>2. Click Edit or Delete</td>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/edititem.png" alt="edititem" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>How do I add an extra auction item to the auction?</td>
        </tr>
        <tr>
            <td>On the Auction Form Page click on Extra Auction Item Add </td>.
        </tr>
        <tr><td>1. Enter the Extra Auction Item Information</td></tr>
        <tr><td>2. Click Add</td>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/extra.png" alt="edititem" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>

    </table>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Add Winning Bids</td>
        </tr>
        <tr>
            <td>How do I load winning bids for silent, live and extra auctions?</td>
        </tr>
        <tr>
            <td>On the Auction Form Page choose the auction type (silent, live, extra)</td>.
        </tr>
        <tr><td>1.Scroll to the Auction Item</td></tr>
        <tr><td>2.Click Load</td></tr>
        <tr>
            <td>Example Silent Bids</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/silentbids2.png" alt="silentbids" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>Example Live Bids</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/livebids2.png" alt="livebids" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>


        <tr><td>3.Edit the winning bid and bidder number</td></tr>
        <tr><td>4.Click Save</td></tr>
        <tr>
            <td>Example Silent Bids</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/editsilent.png" alt="silentbids" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>Example Live Bids</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/editlive.png" alt="livebids" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
    </table>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Donors</td>
        </tr>
        <tr>
            <td>How do I add a donor to the auction?</td>
        </tr>
        <tr>
            <td>On the Auction Form Page click on Donor Add </td>.
        </tr>
        <tr><td>1. Enter the Donor Information</td></tr>
        <tr><td>2. Click Add</td>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/donor1.png" alt="donor" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>How do I edit a donor to the auction?</td>
        </tr>
        <tr>
            <td>On the Auction Form Page click on Donor Edit </td>.
        </tr>
        <tr><td>1. Enter the revised Donor Information</td></tr>
        <tr><td>2. Click Edit </td>
    </table>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Auction Information</td>
        </tr>
        <tr>
            <td>How do I edit the auction information?</td>
        </tr>
        <tr>
            <td>On the Auction Form Page choose edit auction details, edit contact details, edit ticket sales </td>.
        </tr>
        <tr><td>1. Enter the revised information</td></tr>
        <tr><td>2. Click Save</td>
        <tr>
            <td>Example Auction Details</td>
        </tr>
        <tr>

            <td id="LogoCell">
                <img src="~/Images/details.png" alt="details" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>Example Contact Details</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/contact.png" alt="contact" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
            <td>Example Ticket Sales</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/ticket.png" alt="tickets" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
    </table>

    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />
    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Printing Reports</td>
        </tr>
        <tr>
            <td>How do I print reports from the auction?</td>
        </tr>
        <tr>
            <td>Navigate to the Auction Reports Page</td>.
        </tr>
        <tr><td>1. Choose your report</td></tr>
        <tr><td>2. Click Print </td></tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/mainreport.png" alt="reports" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
        <tr>
            <td>Example Auction Report</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/print.png" alt="print" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
    </table>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" />

    <table id="IndexTable">
        <tr>
            <td style="font-weight:bold; font-size:large;">Clearing the Database</td>
        </tr>
        <tr>
            <td>How do I clear the database?</td>
        </tr>
        <tr>
            <td>Navigate to the Auction Form Page</td>.
        </tr>
        <tr><td>1. Choose the Clear Database Button</td></tr>
        <tr><td>2. Click</td></tr>
        <tr><td style="font-weight: bold; color: red">IMPORTANT: The deletion of data should only be done after the Administrators of the completed auction have printed out ALL reports for their records. Once the database is cleared there is no going back to retrieve any data from the auction. This is a permanent delete of all Auction Bidders, Donors, and Items!! </td></tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/delete.png" alt="delete" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>
        <tr>
        <tr>
            <td>Example of Delete Page</td>
        </tr>
        <tr>
            <td id="LogoCell">
                <img src="~/Images/deletepage.png" alt="deletepage" logo here" width="500" height="300">            @*displays picture*@
            </td>
        </tr>

    </table>

</body>
