@{
    ViewBag.Title = "Index";
}
<body id="BackgroundGrad1">
    <h3>General Help</h3>
    <p>Remember the back to forms List button is your go to button for all auction related work!</p>
    <p>
        <span class="btn btn-default"> @Html.ActionLink("Back to Forms List", "Index", "Forms")</span>
    </p>
    <h3>Bidder</h3>
    <p>
        <h4>How do I add a bidder to the auction?</h4>
        <h4>How do I edit a bidder to the auction?</h4>
    </p>

    <h3>Auction Item</h3>
    <p>
        <h4>How do I add an item to the auction?</h4>
        <h4>How do I edit an item to the auction?</h4>
        <h4>How do I add a multiple bidder item to the auction?</h4>
        <h4>How do I edit a multiple bidder item to the auction?</h4>
    </p>


    <h3>Winning Bidder</h3>
    <p>
        <h4>How do I load winning bids for silent and live auctions?</h4>
    </p>

    <h3>Donor</h3>
    <p>
        <h4>How do I add a donor to the auction</h4>
    </p>

    <h3>Auction Information</h3>
    <p>
        <h4>How do I edit the auction details?</h4>
        <h4>How do I edit the contact details?</h4>

    </p>
    <h3>Printing Reports</h3>
    <p>
        <h4>How do I print reports from the auction?</h4>
        <h4>How do I edit the contact details?</h4>
    </p>
   

</body>