@{
    ViewBag.Title = "About";
}

@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<body id="BackgroundGrad2" class="full">
   <table id="IndexTable">
    <tr>
        <td style="font-weight:bold; font-size:large">Click here to visit our main site:</td>
        </tr>
       <tr>
        <td id="LogoCell">
            <a href="http://logoschristianacademy.org/" target="_blank" ><img src="~/Images/Logos Academy Logo4.png" alt="Opps! Logo here" width="350" height="146"></a> @*displays picture*@
        </td>
    </tr>
    </table>
    
   <br/><br /><br /><br />

    <p style="font-weight:bold; font-size:large; ">This Auction web site was designed for Logos Christian Academy </p>
    
</body>
