@{
    ViewBag.Title = "About";
}

@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<body id="BackgroundGrad2" class="full">
   <table id="IndexTable">
    <tr>
        <td style="font-weight:bold; font-size:large" class="AuctionFooter">Click here to visit our main site:</td>
        </tr>
       <tr>
        <td id="LogoCell">
            <a href="http://logoschristianacademy.org/" target="_blank" ><img src="~/Images/Logos Academy Logo4.png" alt="Opps! Logo here" width="350" height="146"></a> @*displays picture*@
        </td>
    </tr>
    </table>
    
   <br/><br /><br /><br />

    <p style="font-weight:bold; font-size:x-large; " class="AuctionFooter">This Auction web site was designed and developed by:<br/><b style="font-style:italic">Emily Clyde, Ryan Recinos, and Rob Callahan.</b> <br/> It was created specificly for Logos Christian Academy as a <br/> Lane Community College, computer programming degree, final Capstone project.</p>
    <br /><br />
</body>
