@model Auction.ViewModels.ContactVM
@{
    ViewBag.Title = "Contact";
}
<div id="BackgroundGrad2" class="full">
    <table id ="IndexTable">
        <tr>
            <td id="LogoCell">
                <img src="~/Images/Logos Academy Logo4.png" alt="Opps! Logo here" width="500" height="208">
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>

    </table>
    
    
    <div class="AuctionFooter">
        <h3> For more information about this year's auction, or to donate items, please contact:</h3>
        <h3>@Html.DisplayFor(model => model.Name)  @Html.DisplayFor(model => model.PhoneNumber)  or email:  @Html.DisplayFor(model => model.Email) </h3>
        <h3 id="Label2">All donations are greatly appreciated.</h3>
    </div>
</div>
