@model Auction.ViewModels.ItemDetailVM
    

    <body id="BackgroundGrad2">

        <table id="IndexTable">
            <tr>
                <td id="LogoCell">
                    <img src="~/Images/Logos Academy Logo4.png" alt="Opps! Logo here" width="350" height="146">
                </td>

                <td class="TableDataIndex2">
                    <h1 id="title"><b>Annual Benefit Auction</b></h1>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2> @Html.DisplayFor(model => model.Title) </h2>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="@Url.Content("~/Images/Items/"+ Model.ImageURL)"  alt="Opps!" width="700" height="400">            @*displays picture*@
                </td>
            </tr>

        </table>
    </body>