@model Auction.Models.Item
    ViewBag.Title = "Detail";
    }
<h2>Detail</h2>
    <body id="BackgroundGrad2">

        <table id="IndexTable">
            <tr>
                <td id="LogoCell">
                    <img src="~/Images/Logos Academy Logo4.png" alt="Opps! Logo here" width="350" height="146">
                </td>

                <td class="TableDataIndex2">
                    <h1 id="title"><b>Annual Benefit Auction</b></h1>
                    <h2 id="Theme">Live Auction Items</h2>
                </td>
            </tr>

            

        </table>
    </body>