@model Auction.ViewModels.ListVM
@{
    ViewBag.Title = "Live Auction List";
}
<body id="BackgroundGrad2">

    <table id="IndexTable">
        <tr>
            <td id="LogoCell">
                <img src="~/Images/Logos Academy Logo.jpg" alt="Opps! Logo here" width="300" height="142" id="logo">            @*displays picture*@
            </td>

            <td class="TableDataIndex2">
                <h1 id="title"><b>Annual Benefit Auction</b></h1>
                <h2 id="Theme">Live Auction Items</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h4 id="Label1">Select an item to view details</h4>
            </td>
            <td>
                <h4 id="Date">Current as of @Html.DisplayFor(model => model.CurrentDate)</h4>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2> list Item Here</h2>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>






</body>