@model Auction.ViewModels.ListVM
@{
    ViewBag.Title = "Live Auction List";
}
<body id="BackgroundGrad2">

    <table>
        <tr>
            <td>
                <img src="~/Images/Logos Academy Logo.jpg" alt="Opps! Logo here" width="300" height="142" id="logo">            @*displays picture*@
            </td>

            <td class="TableDataIndex2">
                <h1 id="title"><b>Annual Benefit Auction</b></h1>
                <h2 id="Theme">@Html.DisplayFor(model => model.Theme)</h2>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <span>Select an item to view details</span>
            </td>
            <td>
                <span>@Html.DisplayFor(model => model.CurrentDate)</span>
            </td>
        </tr>
    </table>






</body>